{% load static %}
{% if user.is_authenticated %}
    <header class="header">
        <div id="logo1">
            <li class="logo">Shop.</li>
        </div>
        <div id="profile">
            <a href="/register/success"><img src="{% static 'profile2.svg' %}" class="abc"></a>
        </div>
        <div id="cart">
            <a href="/shop/cart"><img src="{% static 'cart.svg' %}" class="abc"></a>
        </div>
        <div id="exit">
            <a href="/accounts/logout?next=/"><img src="{% static 'exit.svg' %}" class="abc"></a>
        </div>
        <ul class="table">
            <li id="logo2">
                <a href="/" class="menu">
                    Home
                </a>
            </li>
            <li id="logo2" >
                <a href="/shop" class="menu">
                    Products
                </a>
            </li>
            <li id="logo2" >
                <a href="/shop/aboutus" class="menu">
                    About Us
                </a>
            </li>
            <li id="logo2" >
                <a href="/shop/contact" class="menu">
                    Contact Us
                </a>
            </li>
        </ul>
    </header>
    {% else %}
        <header class="header">
            <div id="logo1">
                <li class="logo">Shop.</li>
            </div>
            <div id="profile">
                <a href="/accounts/login"><img src="{% static 'profile.svg' %}" class="abc"></a>
            </div>
            <div id="cart">
                <a href="/shop/cart"><img src="{% static 'cart.svg' %}" class="abc"></a>
            </div>
            <ul class="table">
                <li id="logo2">
                    <a href="/" class="menu">
                        Home
                    </a>
                </li>
                <li id="logo2" >
                    <a href="/shop" class="menu">
                        Products
                    </a>
                </li>
                <li id="logo2" >
                    <a href="/shop/aboutus" class="menu">
                        About Us
                    </a>
                </li>
                <li id="logo2" >
                    <a href="/shop/contact" class="menu">
                        Contact Us
                    </a>
                </li>
            </ul>
        </header>
{% endif %}